<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js App into Apache ProxyPass</title>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/socket.io.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
   <h1>Welcome To Node js Apache </h1>
</body>
</html>
